<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.t04.medicaltracker">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="locale|orientation"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqANdCmDel-N73fOWDIhsd4Pa3aV8JBQs"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Patient.PatientActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Doctor.DoctorActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SlideShowActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.Patient.AddRecordActivity" />
        <activity android:name=".Activity.Patient.RecordHistoryActivity" />
        <activity android:name=".Activity.Patient.RecordDetailActivity" />
        <activity android:name=".Activity.Patient.GalleryActivity" />
        <activity android:name=".Activity.Patient.DoctorViewActivity" />
        <activity android:name=".Activity.Patient.AddProblemActivity" />
        <activity android:name=".Activity.InformationActivity" />
        <activity android:name=".Activity.Doctor.AddPatientActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.Doctor.DoctorRecordDetailActivity" />
        <activity
            android:name=".Activity.LanguageActivity"
            android:configChanges="locale|orientation"
            android:label="@string/title_activity_language"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.Doctor.ScanActivity" />
        <activity android:name=".Activity.Patient.MarkImageActivity"></activity>
        <activity android:name=".Activity.MapViewActivity"></activity>
        <activity android:name=".Activity.Patient.MapAddLocationActivity"></activity>
    </application>

</manifest>