<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.t04.medicaltracker">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PatientActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DoctorActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SlideShowActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.AddRecordActivity" />
        <activity android:name=".Activity.RecordHistoryActivity" />
        <activity android:name=".Activity.RecordDetailActivity" />
        <activity android:name=".Activity.GalleryActivity" />
        <activity android:name=".Activity.DoctorViewActivity" />
        <activity android:name=".Activity.AddProblemActivity" />
        <activity android:name=".Activity.InformationActivity" />
        <activity android:name=".Activity.AddPatientActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity
            android:name=".Activity.PasswordActivity"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LanguageActivity"
            android:label="@string/title_activity_language"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>